/*Bumpers*/
#bumper1a, #bumper1b {
    background-color: red;
    height: 10em;
}

#bumper2a, #bumper2b {
    background-color: aqua;
    height: 30em;
}
/*-----------------------------------------------*/

#title1 {
    background-color: lightcoral;
    height: 5em;
    text-align: left;
    padding-top: 1em;
}

#title2 {
    background-color: lightcoral;
    height: 5em;
    text-align: left;
    padding-top: 1em;
}

#search {
    text-align: center;
}

#gifContainer {
    text-align: center;
}