#displayGifs1a, #displayGifs1b, #displayGifs1c {
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: center;
}


#displayGifs2a, #displayGifs2b, #displayGifs2c {
    background-color: lightcoral;
    width: 100%;
    display: flex;
    justify-content: center;
}

#displayGifs3a, #displayGifs3b, #displayGifs3c {
    background-color: lightgreen;
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttonContainer1 {
    text-align: center;
    background-color: lightblue;
    height: 5em;
}

#buttonContainer2 {
    text-align: center;
    background-color: lightcoral;
    height: 5em;
}

#buttonContainer3 {
    text-align: center;
    background-color: lightgreen;
    height: 5em;
}

#carouselControls1, #carouselControls2, #carouselControls3 {
    width: 100%;
}